.Navbar{
  background-color: antiquewhite;
  display: flex;
  justify-content: right;
  padding: 1%;
  
}

.Navbar_home{
  margin: 10px;
  
}

.navbar__menu{
  margin: 10px;
}

.Navbar__about{
  margin: 10px;
}

.contact-{
  margin: 10px;
}