@import "../../theme/variables.scss";
.app {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.carasouel{
 height: 100%;
 width: 100%;
 
}

.menudetail{
 width: 50%;
 flex:1;
}